body[data-theme="anti-bee"],
body[data-theme="anti-heather"] {
  --accent: #252425;
}

body[data-theme="pearl"] {
  --bg: #A8D5D1;
  --text: #1B1A1B;
  --accent: #C3F1EE;
}

body[data-theme="anti-pearl"] {
  --bg: #1B1A1B;
  --text: #A8D5D1;
  --accent: #252425;
}
